body {
    background-color: #dae2e5;
    box-sizing: border-box;
    color: #363d40;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

/* Heading styles */
h1 {
    color: #e10086;
    font-size: 2.5rem;
    margin: 2rem 0;
    padding: 0.5rem 0;
}

h2 {
    border-top: 2px dashed #b6bcbf;
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 0;
}

h3 {
    font-size: 1.25rem;
}

main {
    box-sizing: inherit;
    margin: 0 auto;
    padding: 0 2rem 2rem;
    width: 1200px;
}

.section-title {
    border: none;
    color: #e10086;
    margin: 0;
    padding: 2rem 0;
}
