---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Ken";
---

<BaseLayout>
    <section>
        <h1>{pageTitle}</h1>

        <p>
            My name is Ken Reynolds and I am a senior software engineer working at
            American Airlines in Fort Worth, TX. I'm married to the love of my life and we have a wonderful daughter. I am fueled by strong black coffee (preferably Dunkin Donuts or Death Wish medium roast), Mountain Dew, and pizza, and I fully believe the thinking doesn't happen until the coffee drinking happens.
        </p>
        <p>
            My daily job duties include building a brand new internal admin app from scratch using Angular 14+ with NgRx for UI state management, as well as helping implement strong coding standards, and migrating to a DevOps workflow and culture. I totally dig building full-stack JavaScript web apps using Node, Express, and MongoDB on the backend, and various frontend frameworks (my current favorites are Angular, React, and Vue). While I love hacking on side projects, I take continuous learning very seriously. To that end, I am currently teaching myself algorithms and data structures, and expanding my knowledge of DevOps beyond the basics.
        </p>
        <p>
            When I'm not banging out code for work or side projects, I can be found exploring and photographing urban areas around me, playing video games, chasing interesting weather events, partaking in amateur radio (callsign KF5WJC), and spending time with my wife and daughter. In short, I work hard, but I play hard, too.
        </p>
        <p>
            If you're interested, you can check out my various social emdia profiles:

            <ul>
                <li>LinkedIn -
                    <a href="https://www.linkedin.com/in/kenreynolds2009/"
                        target="_blank">
                        /in/kenreynolds2009
                    </a>
                </li>
                <li>Instagram -
                    <a href="https://www.instagram.com/kennethreynolds78/"
                        target="_blank">
                        @kennethreynolds78
                    </a>
                </li>
                <li>Threads -
                    <a href="https://www.threads.net/@kennethreynolds78"
                        target="_blank">
                        @kennethreynolds78
                    </a>
                </li>
            </ul>
        </p>
    </section>
</BaseLayout>