---
import { Icon } from "astro-icon";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Ken";
---

<BaseLayout>
  <section class="text-neutral/80 mx-auto py-24 px-0 w-3/4">
    <h1 class="text-primary text-3xl m-0 mb-8 px-0 pb-2 pt-0">
      {pageTitle}
    </h1>

    <p class="mb-4">
      My name is Ken Reynolds and I'm a senior software engineer working at American Airlines in Fort Worth, TX. I'm
      married to the love of my life and we have a wonderful daughter. I am fueled by strong black coffee (preferably
      Dunkin Donuts Original Blend or Death Wish medium roast), Pepsi (it's the choice of a new generation!), and pizza,
      and I fully believe the thinking doesn't happen until the coffee drinking happens.
    </p>
    <p class="mb-4">
      My daily job duties include building a brand new internal admin app from scratch using Angular 14+ with NgRx for
      UI state management, as well as helping implement strong coding standards, and migrating to a DevOps workflow and
      culture. I totally dig building full-stack JavaScript web apps using Node, Express, and MongoDB on the backend,
      and various frontend frameworks (my current favorites are Angular, React, and Vue). While I love hacking on side
      projects, I take continuous learning very seriously. To that end, I am currently teaching myself algorithms and
      data structures, and expanding my knowledge of DevOps beyond the basics.
    </p>
    <p class="mb-4">
      When I'm not banging out code for work or side projects, I can be found exploring and photographing urban areas
      around me, playing video games, chasing interesting weather events, partaking in amateur radio (callsign KF5WJC),
      and spending time with my wife and daughter. In short, I work hard, but I play hard, too.
    </p>
    <p class="mb-4">
      If you're interested, you can check out my various social media profiles:

      <ul class="mt-8">
        <li class="flex items-center mb-4">
          <Icon class="h-4 w-4 mr-2" name="simple-icons:linkedin" />LinkedIn -
          <a class="text-accent no-underline ml-1 hover:underline hover:underline-offset-2"
            href="https://www.linkedin.com/in/kenreynolds2009/"
            target="_blank">
            /in/kenreynolds2009
          </a>
        </li>
        <li class="flex items-center mb-4">
          <Icon class="h-4 w-4 mr-2" name="simple-icons:instagram" />Instagram -
          <a class="text-accent no-underline ml-1 hover:underline hover:underline-offset-2"
            href="https://www.instagram.com/kennethreynolds78/"
            target="_blank">
            @kennethreynolds78
          </a>
        </li>
        <li class="flex items-center mb-4">
          <Icon class="h-4 w-4 mr-2" name="simple-icons:github" />GitHub -
          <a class="text-accent no-underline ml-1 hover:underline hover:underline-offset-2"
            href="https://github.com/kenreynolds"
            target="_blank">
            /kenreynolds
          </a>
        </li>
      </ul>
    </p>
  </section>
</BaseLayout>