---
import { Icon } from "astro-icon";

import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";

const allPosts = await Astro.glob('../pages/posts/*.md');
const recentPosts = allPosts.slice(0, 3);
---

<BaseLayout>
    <Hero />

    <div class="home">
        <section>
            <h2 class="section-title">Connect with me:</h2>

            <div class="cards__wrapper">
                <div class="card">
                    <a href="https://www.instagram.com/kennethreynolds78/"
                        target="_blank">
                        <div class="card__header">
                            <Icon name="simple-icons:instagram" />
                            <h3>Instagram</h3>
                            <p>- Photos</p>
                        </div>
                        <div class="card__content">
                            <p>@kennethreynolds78</p>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="https://www.linkedin.com/in/kenreynolds2009/"
                        target="_blank">
                        <div class="card__header">
                            <Icon name="simple-icons:linkedin" />
                            <h3>LinkedIn</h3>
                            <p>- Professional profile</p>
                        </div>
                        <div class="card__content">
                            <p>/in/kenreynolds2009</p>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="https://github.com/kenreynolds"
                        target="_blank">
                        <div class="card__header">
                            <Icon name="simple-icons:github" />
                            <h3>GitHub</h3>
                            <p>- Code stuff</p>
                        </div>
                        <div class="card__content">
                            <p>/kenreynolds</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section>
            <h2 class="section-title">Check out my latest thoughts:</h2>

            <div class="card--lg">
                {recentPosts.map(post =>
                    <div class="card__item">
                        <div class="card__header">
                            <h3>
                                <a href={post.url}>
                                    {post.frontmatter.title}
                                </a>
                            </h3> posted on {post.frontmatter.pubDate.slice(0, 10)}
                        </div>
                        <p>{post.frontmatter.description}</p>
                    </div>
                )}
            </div>
        </section>
    </div>
</BaseLayout>

<style>
    [astro-icon] {
        height: 24px;
        margin-right: .5rem;
        width: 24px;
    }

    .card a {
        color: #363d40;
        text-decoration: none;
    }

    .cards__wrapper {
        display: flex;
        flex-direction: column;
        font-family: -apple-system, BlinkMacSystemFont, avenir next avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
        padding-bottom: 1rem;
    }

    .cards__wrapper .card {
        border: 1px solid #b6bcbf;
        border-bottom: 4px solid #b6bcbf;
        border-radius: 4px;
        margin-bottom: 1rem;
        padding: 1rem;
        width: 75%;
    }

    .cards__wrapper .card .card__content { padding-left: 1rem; }

    .cards__wrapper .card .card__content p { margin: 0; }

    .cards__wrapper main {
        margin: 0 auto;
        width: 1200px;
    }

    .card__header {
        align-items: center;
        display: flex;
        margin-bottom: 0.25rem;
    }

    .card__header h3 {
        border: none;
        margin: 0;
        margin-right: 0.5rem;
        padding: 0 0 0.25rem 0;
    }

    .card__header h3 a {
        color: #49297e;
        text-decoration: none;
    }

    .card__header p {
        margin: 0;
        padding: 0;
    }

    .card__header .icon { margin-right: 0.5rem; }

    .card--lg {
        border: 1px solid #b6bcbf;
        border-bottom: 4px solid #b6bcbf;
        border-radius: 4px;
        padding: 1rem;
    }

    .card--lg .card__item {
        border-bottom: 1px dashed #363d40;
        margin-bottom: 1.5rem;
    }

    .card--lg .card__item:last-child { border: none; }

    .card--lg .card__item p { padding: 0; }

    .home {
        align-items: flex-start;
        border-top: 2px dashed #b6bcbf;
        display: flex;
        justify-content: space-between;
    }

    .home section {
        padding: 0 1rem;
        width: 50%;
    }

    .home section h2 { border: none; }
</style>