---
import { Icon } from "astro-icon";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "/uses";
---

<BaseLayout>
  <section class="text-neutral/80 mx-auto py-24 px-0 w-3/4">
    <h1 class="text-primary text-3xl m-0 mb-8 px-0 pb-2 pt-0">{pageTitle}</h1>

    <h2 class="text-2xl text-secondary m-0 border-0">
      I use and abuse the following killer tools & technologies:
    </h2>

    <div class="flex justify-start items-center pb-8 pt-4">
      <ul class="flex flex-wrap items-center list-none px-4">
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Apple">
          <a class="text-secondary" href="https://www.apple.com/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:apple"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Adobe XD">
          <a class="text-secondary" href="https://helpx.adobe.com/xd/get-started.html" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:adobexd"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="HTML5">
          <a class="text-secondary" href="https://html.spec.whatwg.org/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:html5"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="CSS3">
          <a class="text-secondary" href="https://drafts.csswg.org/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:css3"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="JavaScript">
          <a class="text-secondary" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
          <Icon class="h-9 w-9" name="simple-icons:javascript"
          /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Astro">
          <a class="text-secondary" href="https://astro.build/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:astro"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Angular">
          <a class="text-secondary" href="https://angular.io/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:angular"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Spring">
          <a class="text-secondary" href="https://spring.io/projects/spring-framework" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:spring"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Visual Studio Code">
          <a class="text-secondary" href="https://code.visualstudio.com/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:visualstudiocode"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Postman">
          <a class="text-secondary" href="https://www.postman.com/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:postman"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Docker">
          <a class="text-secondary" href="https://www.docker.com/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:docker"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Kubernetes">
          <a class="text-secondary" href="https://kubernetes.io/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:kubernetes"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Ansible">
          <a class="text-secondary" href="https://www.ansible.com/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:ansible"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Vagrant">
          <a class="text-secondary" href="https://www.vagrantup.com/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:vagrant"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Jenkins">
          <a class="text-secondary" href="https://www.jenkins.io/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:jenkins"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="GitKraken">
          <a class="text-secondary" href="https://www.gitkraken.com/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:gitkraken"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="GitHub Desktop">
          <a class="text-secondary" href="https://desktop.github.com/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:github"
            /></a>
        </li>
        <li class="flex justify-center items-center tooltip h-9 w-9 p-8" data-tip="Google Chrome">
          <a class="text-secondary" href="https://www.google.com/chrome/" target="_blank">
            <Icon class="h-9 w-9" name="simple-icons:googlechrome"
            /></a>
        </li>
      </ul>
    </div>

    <p class="mb-8">
      Inspired by <a
        class="text-accent hover:underline hover:underline-offset-2"
        href="https://wesbos.com/uses"
        target="_blank"
      >Wes Bos' /uses page</a> and <a
        class="text-accent hover:underline hover:underline-offset-2"
        href="https://uses.tech/"
        target="_blank"
      >uses.tech
      </a>. This page is a living document detailing everything I use on a daily basis for professional fullstack web
      development, freelance video production, photography, productivity, and gaming.
    </p>

    <!-- Hardware section -->
    <div class="border-dashed border-b-2 border-primary/45 mb-8 pb-4">
      <h3 class="text-xl text-primary mb-4">Computer and OS</h3>

      <p class="mb-4">
        <strong>MacBook Pro 14"</strong>:
        <ul class="mb-4 pl-8">
          <li>
            M3 Pro (11-core CPU, 14-core GPU, 16-core Neural Engine
          </li>
          <li>
            36GB RAM
          </li>
          <li>
            1TB SSD
          </li>
          <li>
            macOS
          </li>
        </ul>
      </p>
      <p class="mb-4">
        <strong>Keychron K2</strong> 75% (84-key) mechanical keyboard with Gateron G Pro Brown switches
      </p>
      <p class="mb-4">
        <strong>Logitech MX Master 2S</strong> mouse
      </p>
    </div>

    <!-- Coding setup section -->
    <div class="border-dashed border-b-2 border-primary/45 mb-8 pb-4">
      <h3 class="text-xl text-primary mb-4">Coding setup</h3>

      <p class="mb-4">
        <strong>Visual Studio Code</strong> with:
        <ul class="mb-4 pl-8">
          <li>
            <strong>Dracula</strong> Theme
          </li>
          <li>
            <strong>FiraCode Nerd Font</strong>, with ligatures enabled.
          </li>
        </ul>

        <strong>GitLens</strong>, by GitKraken. I use a ton of various extensions in my VS Code setup, but GitLens is
        one of the most useful I have installed. It supercharges Git in VS Code and is well worth installing for the
        commit graph functionality alone, which is basically like having GitKraken right insde VS Code.
      </p>
      <p class="mb-4">
        <strong>Warp Terminal</strong>. Despite the excellent full terminal experience with VS Code's built-in terminal),
          I use the excellent Warp Terminal. I currently have it configured with:
        <ul class="mb-4 pl-8">
          <li>
            <strong>Dracula</strong> color theme
          </li>
          <li>
            <strong>FiraCode Nerd Font</strong>
          </li>
          <li>
            <strong>oh-my-zsh</strong> with <strong> PowerLevel10k</strong>
            <ul class="mb-4 pl-8">
              <li>
                <strong>bat</strong>, a better version of cat, with syntax highlighting
              </li>
              <li>
                <strong>eza</strong>, a better version of ls
              </li>
              <li>
                <strong>fzf</strong>, for fuzzy searching on the command line
              </li>
              <li>
                <strong>zoxide</strong>, a killer cd replacement
              </li>
              <li>
                ...and many other great command line tools
              </li>
            </ul>
          </li>
        </ul>
      </p>
      <p class="my-4">
        <strong>Postman</strong> for testing REST and Graph APIs
      </p>
      <p class="mb-4">
        <strong>Docker</strong>, I use the official Docker plugin for VS Code.
      </p>
      <p class="mb-4">
        <strong>Minikube</strong>, for container orchestration
      </p>
      <p class="mb-4">
        <strong>Vagrant and Ansible</strong>, for provisioning and managing cloud VMs
      </p>
    </div>

    <!-- Mobile gear section -->
    <div class="border-dashed border-b-2 border-primary/45 mb-8 pb-4">
      <h3 class="text-xl text-primary mb-4">Mobile gear</h3>

      <p class="mb-4">
        <strong>iPhone 13 Pro Max 512GB</strong>, and I have no intentions of upgrading to a newer model anytime soon.
      </p>
      <p class="mb-4">
        <strong>iPad Pro 11” 512GB (with M2 chip)</strong> with the second generation <strong>Apple Pencil</strong>
      </p>
      <p class="mb-4">
        <strong>Apple Watch Series 8</strong>
      </p>
    </div>

    <!-- Gaming gear section -->
    <div class="border-dashed border-b-2 border-primary/45 mb-8 pb-4">
      <h3 class="text-xl text-primary mb-4">Gaming gear</h3>

      <p class="mb-4">
        I got my first taste of video games in the very early 80s via the Atari 2600, and I've been a gamer ever since.
        In the mid 90s I discovered id Software's absolutely awesome Commander Keen: Invasion of the Voritcons
        side-scrolling masterpiece for the PC (<i>Fun fact: I still fire-up this game from time to time in DOSBox</i>).
        Then, in the late 90s I was launched into the world of 3D gaming courtesy of Quake II and the original Half-Life.
        These days I am mostly a console gamer, although I do believe the time has come to add a gaming PC back to my
        arsenal very soon.
      </p>
      <p class="mb-4">
        <strong>Nintendo Switch</strong> for scratching the Nintendo itch. My favorite Nintendo IPs are Mario, Metroid,
        Donkey Kong, and Zelda.
      </p>
      <p class="mb-4">
        <strong>PlayStation 4</strong> that is still going strong. I've been a PlayStation gamer since the original
        PlayStation was unleashed on the world in the late 90s.
      </p>
    </div>

    <!-- Media consumption section -->
    <div class="border-dashed border-b-2 border-primary/45 mb-8 pb-4">
      <h3 class="text-xl text-primary mb-4">Media consumption</h3>

      <p class="mb-4">
        I can't go through a single day without listening to music of some kind. While my tastes in genre are extremely
        varied and eclectic, I prefer to use gear that provides a good balance between high listening quality and
        convenience, but is also built to last.
      </p>
      <p class="mb-4">
        <strong>Beats Fit Pro</strong> for listening to spatial audio-enhanced music and as a headset for my iPhone. I
        tried the AirPods Pro, but a nagging, constant buzzing sound in each earbud forced me to look for something
        else. I'm glad I gave the Beats a try!
      </p>
      <p class="mb-4">
        <strong>Bose QC35 II</strong> wireless headphones for when I am sitting at my desk during long coding sessions,
        and for watching movies and YouTube videos.
      </p>
      <p class="mb-4">
        <strong>Apple TV 4K</strong>
      </p>
      <p class="mb-4">
        <strong>Apple Music</strong> provides access to all the tunes I could ever want.
      </p>
      <p class="mb-4">
        I use <strong>YouTube</strong>, <strong>AppleTV+</strong>, <strong>Netflix</strong>, <strong>Max</strong>, and
        <strong>Disney+</strong> for those times when I want to kick back with a cold beer or cocktail, relax, and take
        in a flick or watch The Primeagen's latest hot takes on software engineering.
      </p>
    </div>

    <!-- Productivity section -->
    <div class="border-dashed border-b-2 border-primary/45 mb-8 pb-4">
      <h3 class="text-xl text-primary mb-4">Productivity</h3>

      <p class="mb-4">
        <strong>Microsoft Office 365</strong>, including <strong>1TB OneDrive</strong> storage. The apps I mainly use
        here are Excel and Word
      </p>
      <p class="mb-4">
        <strong>Notion</strong>. This is where my second brain lives, including my daily journal
      </p>
      <p class="mb-4">
        <strong>Firefox</strong> for daily web browsing; <strong> Firefox Developer Edition</strong> and <strong>
          Chrome</strong> for debugging UI code
      </p>
      <p class="mb-4">
        <strong>Apple Notes</strong> for handwritten digital notes. I primarily use this for tracking project tasks and
        brainstorming. A lot of these notes eventually get expanded on and added to my second brain.
      </p>
      <p class="mb-4">
        <strong>Gmail</strong> (web app & mobile app) for email.
      </p>
    </div>

    <!-- Photography section -->
    <div class="border-dashed border-b-2 border-primary/45 mb-8 pb-4">
      <h3 class="text-xl text-primary mb-4">Photography</h3>

      <p class="mb-4">
        After years of shooting with a Nikon DSLR, I finally had the opportunity to overhaul my shooting gear to the
        much lighter, yet just as capable, Olympus Micro 4/3 mirrorless system. In addition, I have overhauled my
        editing workflow to be iPad-centric, with Apple Photos handling library management and Apple iCloud handling
        photo storage. I'm also in the process of dumping my reliance on the Adobe ecosystem, which has been a long
        time coming.
      </p>

      <p class="mb-4">
        <strong>Olympus OM-D E-M1x</strong> Micro 4/3 mirrorless body
      </p>
      <p class="mb-4">
        <strong>Olympus OM-D E-M5</strong> Micro 4/3 mirrorless body with <strong>Olympus HLD-8</strong> external
        battery grip
      </p>
      <p class="mb-4">
        <strong>Olympus M.Zuiko 12-40mm f/2.8 PRO</strong> lens
      </p>
      <p class="mb-4">
        <strong>Olympus M.Zuiko 40-150mm f/2.8 PRO</strong> lens
      </p>
      <p class="mb-4">
        <strong>Olympus M.Zuiko MC-20 2x</strong> teleconverter
      </p>
      <p class="mb-4">
        <strong>SanDisk Extreme Pro</strong> SD cards
      </p>
      <p class="mb-4">
        <strong>Apple iCloud</strong> for storage
      </p>
      <p class="mb-4">
        <strong>Apple Photos</strong> for library management
      </p>
      <p class="mb-4">
        <strong>Darkroom+</strong> on iOS for editing and finishing images.
      </p>
    </div>

    <!-- Blog setup section -->
    <div class="border-dashed border-b-2 border-primary/45 mb-8 pb-4">
      <h3 class="text-xl text-primary mb-4">Blog setup</h3>

      <p class="mb-4">
        For now, my blog setup is pretty barebones and based on a from-scratch install of Eleventy. I will customize it
        as my needs evolve. Those who are super curious can scope the repo on GitHub and see how I've built and structured
        things
      </p>
      <p class="mb-4">
        <strong>Astro</strong>
      </p>
      <p class="mb-4">
        <strong>TailwindCSS</strong> and <strong>daisyUI</strong>
      </p>
      <p class="mb-4">
        <strong>Webmentions</strong> for commenting and site linking
      </p>
      <p class="mb-4">
        <strong>GitHub</strong> for code management and <strong> Netlify</strong> for hosting
      </p>
    </div>

    <!-- Task log setup -->
    <div class="border-dashed border-b-2 border-primary/45 mb-8 pb-4">
      <h3 class="text-xl text-primary mb-4">Daily task log</h3>

      <p class="mb-4">
        I prefer to rely on good ol’ pen and paper for daily task lists and quick thought/idea capture.</p>
      <p class="mb-4">
        <strong>Lochby Pocket Journal canvas cover</strong> holding a <strong>Moleskine Cahier 3.5” x 5.5” dot-grid]
          notebook
        </strong>
      </p>
      <p class="mb-4">
        <strong>Uni-Ball Vision Elite Stick Micro Point Rollerball pen</strong>
      </p>
      <p class="mb-4">
        <strong> Pentel GraphGear 500 0.7mm mechanical pencil</strong> for when I want to quickly sketch ideas or work
        through math problems
      </p>
      <p class="mb-4">
        A trio of colored <strong>Sharpie pens</strong>
      </p>
    </div>
  </section>
</BaseLayout>
