---
const { date, description, title, url } = Astro.props;
---

<div class="blog__post-item">
    <a href={url} class="blog__post-link">
        {title}
    </a> posted on <span class="blog__excerpt-date">{date}</span>

    <p>{description}</p>
</div>

<style>
    .blog__post-link,
    .blog__excerpt-date { color: #49297e; }

    .blog__post-item {
        border-bottom: dashed 2px #49297e;
        list-style: none;
        padding: 1rem 0;
    }

    .blog__post-item:first-child { padding-top: 0; }

    .blog__post-item:last-child { border: none; }

    .blog__post-item h1 { display: none; }

    .blog__post-link {
        font-size: 1.75rem;
        font-weight: bold;
        text-decoration: none;
    }
</style>