---
import { Icon } from "astro-icon";

const { date, description, title, url } = Astro.props;
---

<div class="border-dashed border-b-2 border-primary/45 text-neutral/80 px-0 py-4 first:pt-0 last:border-0">
  <span class="font-semibold text-2xl">
    {title}
  </span> posted on <span class="font-semibold">{date}</span>

  <p class="my-4">{description}</p>
  <div class="flex justify-end mr-4 mt-4">
    <a class="text-accent" href={url}>
      <div class="flex items-center hover:underline hover:underline-offset-2">
        Read more <Icon class="h-6 w-6 pt-0.5" name="pixelarticons:chevron-right" />
      </div>
    </a>
  </div>
</div>