---
import Navigation from "../components/Navigation.astro";
---

<div class="header__bar">
    <header>
        <a href="/" class="site-title">ken.</a>
        <Navigation />
    </header>
</div>

<style>
    .header__bar {
        background-color: #363d40;
        padding: 0.5rem 0 1rem 0;
        width: 100%;
    }

    .site-title {
        color: inherit;
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    header {
        align-items: baseline;
        color: #00db96;
        display: flex;
        font-family:  -apple-system, BlinkMacSystemFont, avenir next, avenir,
            segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto,
            noto, arial, sans-serif;
        justify-content: space-between;
        margin: 0 auto;
        width: 1200px;
    }
</style>