---
import { Image } from "astro:assets";
import nerdFace from "../images/nerd-face.png";
import Navigation from "../components/Navigation.astro";
---

<div class="navbar bg-primary p-0">
  <header class="flex justify-between text-base-100 mx-auto px-8 h-20 w-full
    xl:px-0 xl:w-3/4
  ">
    <div class="flex justify-center items-center h-full">
      <!-- <Image
        class="h-20 w-24 mr-2"
        src={nerdFace}
        alt="Ken"
      /> -->
      <a href="/" class="font-bold text-5xl no-underline">ken.</a>
    </div>
    <Navigation />
  </header>
</div>