<nav class="flex items-end h-20 w-80">
  <ul class="flex justify-end items-center list-none lowercase h-full w-full">
    <li class="hover:bg-[#0082ad]">
      <a class="flex items-center justify-center text-2xl no-underline p-6" href="/about">
        About
      </a>
    </li>
    <li class="hover:bg-[#0082ad]">
      <a class="flex items-center justify-center text-2xl no-underline p-6" href="/blog">
        Blog
      </a>
    </li>
    <li class="hover:bg-[#0082ad]">
      <a class="flex items-center justify-center text-2xl no-underline p-6" href="/uses">
        /uses
      </a>
    </li>
  </ul>
</nav>
