<nav class="flex items-end h-20 w-80">
  <ul class="flex items-center list-none lowercase h-full w-full">
    <li class="p-6 hover:bg-[#0082ad]">
      <a class="flex items-center justify-center text-2xl no-underline pb-0 active:font-bold" href="/about">
        About
      </a>
    </li>
    <li class="p-6 hover:bg-[#0082ad]">
      <a class="flex items-center justify-center text-2xl no-underline pb-0 active:font-bold" href="/blog">
        Blog
      </a>
    </li>
    <li class="p-6 hover:bg-[#0082ad]">
      <a class="flex items-center justify-center text-2xl no-underline pb-0 active:font-bold" href="/uses">
        /uses
      </a>
    </li>
  </ul>
</nav>
