---
import { Icon } from "astro-icon";
---

<div class="bg-base-100 w-full">
  <section class="mx-auto pb-0 pt-12 px-8 lg:w-3/4 lg:px-0">
    <h2 class="text-2xl text-neutral m-0 pb-8 px-4 border-0">
      Connect with me:
    </h2>

    <div class="flex flex-wrap pb-4 pl-4 pr-0">
      <div class="card border-2 border-secondary mb-8 mr-4 p-0 w-80 hover:bg-secondary/50 lg:mb-4 lg:mr-4 lg:p-4 lg:w-1/3">
        <a href="https://www.instagram.com/kennethreynolds78/" target="_blank">
          <div class="card-body">
            <div class="flex md:flex-col">
              <div class="flex flex-row items-center">
                <Icon class="h-6 w-6 mr-2" name="simple-icons:instagram" />
                <h3 class="card-title mr-2">Instagram</h3>
              </div>
              <p class="ml-8">Photos</p>
            </div>
            <div class="pl-8">
              <p>@kennethreynolds78</p>
            </div>
          </div>
        </a>
      </div>

      <div class="card border-2 border-secondary mb-8 mr-0 p-0 w-80 hover:bg-secondary/50 lg:mb-4 lg:mr-4 lg:p-4 lg:w-1/3">
        <a href="https://www.linkedin.com/in/kenreynolds2009/" target="_blank">
          <div class="card-body">
            <div class="flex md:flex-col">
              <div class="flex flex-row items-center">
                <Icon class="h-6 w-6 mr-2" name="simple-icons:linkedin" />
                <h3 class="card-title mr-2">LinkedIn</h3>
              </div>
              <p class="ml-8">Professional</p>
            </div>
            <div class="pl-8">
              <p>/in/kenreynolds2009</p>
            </div>
          </div>
        </a>
      </div>

      <div class="card border-2 border-secondary mb-8 mr-0 p-0 w-80 hover:bg-secondary/50 lg:mb-4 lg:mr-4 lg:p-4 lg:w-1/3">
        <a href="https://github.com/kenreynolds" target="_blank">
          <div class="card-body">
            <div class="flex md:flex-col">
              <div class="flex flex-row items-center">
                  <Icon class="h-6 w-6 mr-2" name="simple-icons:github" />
                  <h3 class="card-title mr-2">GitHub</h3>
              </div>
              <p class="ml-8">Code</p>
            </div>
            <div class="pl-8">
              <p>/kenreynolds</p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </section>
</div>