<section class="pb-24 pr-6 pt-6 w-full md:pt-12 md:w-1/6">
    <h2 class="flex bg-primary font-semibold text-2xl text-base-100
        m-0 mb-8 px-4 py-2 border-0 rounded md:block
    ">Topics:
    </h2>

    <ul class="flex md:block">
        <li class="px-4">Topic 1</li>
        <li class="px-4">Topic 2</li>
        <li class="px-4">Topic 3</li>
        <li class="px-4">Topic 4</li>
        <li class="px-4">Topic 5</li>
    </ul>
</section>